[Unit]
Description=Message Port Daemon
Before=launchpad-preload.service

[Service]
ExecStartPre=/usr/bin/chsmack -a '*' /tmp/.data-control/request ; \
 /usr/bin/chsmack -a '*' /tmp/.data-control/result
ExecStart=/usr/bin/messageportd
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
